@page
@model OrderFoodWeb.Pages.Cart.IndexModel
@{
    ViewData["Title"] = "Cart";
}


<section class="mt-8">
    <div class="text-center">
        <h1 class="main-header text-primary" style="font-style:italic">Cart</h1>
    </div>
    <div class="mt-8 grid gap-8 grid-cols-2">
        <div>
            @if (Model.CartProducts.Count == 0)
            {
                <div class="text-center text-gray-500">Your shopping cart is empty 😔</div>
            }
            else
            {
                @foreach (var product in Model.CartProducts)
                {
                    <div class="flex items-center gap-4 border-b py-4">
                        <div class="w-24" style="position:relative">
                            <img src="@product.ImageUrl" alt="@product.Name" style="width: 100%;" />
                        </div>
                        <div class="flex-grow">
                            <h3 class="font-semibold">@product.Name</h3>
                            @if (!string.IsNullOrEmpty(product.Size))
                            {
                                <div class="text-sm">Size: <span>@product.Size</span></div>
                            }
                            @if (product.Extras != null && product.Extras.Count > 0)
                            {
                                <div class="text-sm text-gray-500">
                                    @foreach (var extra in product.Extras)
                                    {
                                        <div>@extra.Name $@extra.Price</div>
                                    }
                                </div>
                            }
                        </div>
                        <div class="text-lg font-semibold">
                            $@product.Price
                        </div>
                        <div class="ml-2">
                            <form method="post" asp-page-handler="RemoveFromCart" asp-route-index="@product.Index">
                                <button type="submit" class="p-2">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                }
                <div class="py-2 pr-16 flex justify-end items-center">
                    <div class="text-gray-500">
                        Subtotal:<br />
                        Delivery:<br />
                        Total:
                    </div>
                    <div class="font-semibold pl-2 text-right">
                        $@Model.Subtotal<br />
                        $@Model.DeliveryFee<br />
                        $@Model.Total
                    </div>
                </div>
            }
        </div>
        <div class="bg-gray-100 p-4 rounded-lg">
            <h2>Checkout</h2>
            <form method="post" asp-page-handler="ProceedToCheckout">
                <label>Phone</label>
                <input type="text" placeholder="Phone number" asp-for="Phone" />

                <label>Street address</label>
                <input type="text" placeholder="Street address" asp-for="StreetAddress" />

                <div class="grid grid-cols-2 gap-2">
                    <div>
                        <label>Postal code</label>
                        <input type="text" placeholder="Postal code" asp-for="PostalCode" />
                    </div>
                    <div>
                        <label>City</label>
                        <input type="text" placeholder="City" asp-for="City" />
                    </div>
                </div>

                <label>Country</label>
                <input type="text" placeholder="Country" asp-for="Country" />

                <button type="submit" class="btn btn-primary mt-4">Pay $@Model.Total</button>
            </form>
        </div>
    </div>
</section>


<link rel="stylesheet" href="~/css/cart.css" />
