@page 
@model OrderFoodWeb.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Menu Pizza";
}

<div class="menu-container" style="margin-bottom:200px;">
    <div class="categories-container">
        <h2 class="category-header">Categories</h2>
        <ul class="category-list">
            <li>
                <a href="/Products" class="category-link">All Products</a>
            </li>
            @foreach (var category in Model.Categories)
            {
                <li>
                    <a asp-page="./Index" asp-route-CategoryId="@category.CategoryId" class="category-link">
                        @category.CategoryName
                    </a>
                </li>
            }
        </ul>
    </div>
    <section class="products-section">
        <div class="text-center mb-4">
            <div class="section-headers">
                <h1 class="main-header text-primary">Pizza</h1>
            </div>
        </div>
        <div class="grid">
            @foreach (var product in Model.Products)
            {
                <div class="menu-item" data-product-id="@product.ProductId">
                    <img src="@product.ImageUrl" alt="@product.ProductName" class="menu-item-image">
                    <h2 class="menu-item-name">@product.ProductName</h2>
                    <p class="menu-item-description">@product.Description</p>
                    <div class="menu-item-price">$@product.Price</div>
                    <button class="add-to-cart-button">Add to Cart</button>
                </div>
            }
        </div>

        @if (Model.TotalPages > 1)
        {
            <nav aria-label="Product navigation">
                <ul class="pagination">
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                            <a class="page-link"
                               asp-page="./Index"
                               asp-route-CategoryId="@Model.CategoryId"
                               asp-route-PageIndex="@i">
                                @i
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        }

    </section>
</div>

<div id="popup" class="popup">
    <div class="popup-content">
        <div class="popup-product-details">
            <img id="popupProductImage" src="" alt="Product Image" class="popup-product-image">
            <h2 id="popupProductName" class="popup-product-name"></h2>
            <p id="popupProductDescription" class="popup-product-description"></p>
        </div>
        <h2>Select Size and Extras</h2>
        <form id="cartForm">
            @Html.AntiForgeryToken()
            <input type="hidden" id="productId" name="productId" value="">
            <label for="size">Size:</label>
            <label class="size-options">
                <input type="radio" id="sizeSmall" name="size" value="small">
                Small
            </label>
            <label class="size-options">
                <input type="radio" id="sizeMedium" name="size" value="medium">
                Medium
            </label>
            <label class="size-options">
                <input type="radio" id="sizeLarge" name="size" value="large">
                Large
            </label>

            <label for="extras">Any Extras?</label>
            <label class="extras-options">
                <input type="checkbox" id="extra1" name="extras" value="Extra cheese">
                Extra cheese + 1$
            </label>
            <label class="extras-options">
                <input type="checkbox" id="extra2" name="extras" value="Extra pepperoni">
                Extra pepperoni + 2$
            </label>

            <button type="submit">Add to Cart</button>
        </form>

        <button class="close" onclick="closePopup()">Close</button>
    </div>
</div>
